<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>L3SmartBoat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C2318DB1E82917E007A61BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C2318FA1E82917F007A61BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C2319051E82917F007A61BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
